<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--配置bean-->
    <!--id 给bean起名字
        class 给bean定义类型
     -->
    <bean id="bookDao" class="com.ztbu.dao.impl.BookDaoImpl">

    </bean>
    <bean id="bookService" class="com.ztbu.service.impl.BookServiceImpl">
        <!--配置service和dao的依赖关系-->
        <!--property表示配置当前bean的属性 name表示配置哪一个具体的属性（属性名） ref表示参照哪一个bean（id名）-->
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>